{% set page = {
  title: 'Homepage'
} %}

{% extends "templates/default.html" %}

{% block body %}

{% include "modules/_splash.html" %}

{% include "modules/_callout.html" %}

{% include "modules/_tabs-carousel.html" %}

{% include "modules/_panel-cta.html" %}

{% include "modules/_testimonial-slider.html" %}

{% include "modules/_news.html" %}

{% include "modules/_feature.html" %}

{% include "modules/_events.html" %}

{% include "modules/_social-slider.html" %}

{% include "modules/_news.html" %}

{% endblock %}
