{% set page = {
  title: 'Index'
} %}

{% extends "templates/default.html" %}

{% block body %}

<div class="container" style="margin: 4rem auto">
  <ul>
    <li><a href="home.html">Home</a></li>
    <li><a href="landing.html">Landing</a></li>
    <li><a href="program.html">Program</a></li>
    <li><a href="tertiary.html">Tertiary - Base</a></li>
    <li><a href="tertiary-split.html">Tertiary - Split Sidebar in mobile</a></li>
    <li><a href="tertiary2.html">Tertiary - Page Inventory</a></li>
    <li><a href="subsite-tpc.html">Sub-site</a></li>
    <li><a href="subsite.html">Sub-site - Alternate</a></li>
  </ul>
</div>


{% endblock %}
