.feature__component {
    padding: 5rem 0;
    .background::after {
        content: "";
        display: table;
        clear: both;
    }
}

.feature__card {
    display: block;
    margin-bottom: 4rem;
    &:nth-child(2) {
        @include mq($lg) {
            margin-top: 5.625rem;
        }
    }
    &:nth-child(2n) {
        @include mq($lg) {
            float: right;
            clear: right;
        }
    }
    img {
        width: 100%;
    }
    @include mq($lg) {
        float: left;
        clear: left;
        width: 50%;
        padding: 4rem 2.125rem 2.125rem;
        margin-bottom: 0;
        &:hover {
            background-color: $gold;
        }
        .feature__grid--yellow & {
            &:hover {
                background-color: $yellow;
            }
        }
        p {
            a {
                &:hover {
                    color: $purple;
                    @include underline($purple);
                }
            }
        }
    }
}

.feature__card__title {
    margin: 0 auto 2.5rem 0;
    text-align: center;
    a {
        color: $purple;
        &:hover {
            @include underline($gold);
        }
    }
}

a .feature__card__title span {
    text-decoration: none;
    color: $purple;
    padding-bottom: 1px;
    @include underline($teal);
    transition: color $transition;
    &:hover {
        @include underline($gold);
    }
    .feature__grid--yellow & {
        &:hover {
            @include underline($yellow);
        }
    }
}

.feature__clear {
    clear: both;
}

.feature__component__v3 {
    position: relative;
    aspect-ratio: 10 / 16;
    @include mq( $sm) {
        aspect-ratio: 12 / 10;
    }
    @include mq( $lg) {
        aspect-ratio: 16 / 8;
    }
    .feature__grid__controls {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        aspect-ratio: 10 / 16;
        @include mq( $sm) {
            aspect-ratio: 12 / 10;
        }
        @include mq( $lg) {
            aspect-ratio: 16 / 8;
        }
        .prev,
        .next {
            position: absolute;
            top: 10%;
            width: 55px;
            height: 55px;
            margin-top: -20px;
            z-index: 2;
            border-radius: 50%;
            cursor: pointer;
            @include mq( $lg) {
                top: 50%;
                height: 60px;
                width: 60px;
                margin-top: -30px;
            }
        }
        .prev {
            left: 5%;
            background: $teal url(../img/slide-arrow.svg) center center no-repeat;
            background-size: contain;
            transform: rotate(270deg);
        }
        .next {
            right: 5%;
            background: $teal url(../img/slide-arrow.svg) center center no-repeat;
            background-size: contain;
            transform: rotate(90deg);
        }
    }
    .feature__grid__v3 {
        .feature__card__v3 {
            aspect-ratio: 10 / 16;
            background: center center no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transition: all 500ms ease-in-out;
            opacity: 0;
            z-index: 0;
            &.visible {
                z-index: 1;
                opacity: 1;
            }
            @include mq( $sm) {
                aspect-ratio: 12 / 10;
            }
            @include mq( $lg) {
                aspect-ratio: 16 / 8;
            }
            .box {
                position: absolute;
                bottom: 5%;
                right: 10%;
                width: 80%;
                background: $purple;
                box-shadow: 10px 10px 25px rgba( black, .2);
                color: white;
                padding: 25px;
                @include mq( $lg) {
                    bottom: 10%;
                    right: 15%;
                    width: 30%;
                }
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                a,
                span {
                    color: white;
                    margin: 0;
                    text-align: left;
                }
            }
            &.odd .box {
                @include mq( $lg) {
                    right: auto;
                    left: 15%;
                }
            }
        }
    }
}