.tribe-common .tribe-common-form-control-radio__label,
.tribe-common .tribe-common-form-control-checkbox__label,
.tribe-common .tribe-common-form-control-slider__label,
.tribe-common .tribe-common-form-control-text__input,
.tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input,
#top.tribe-theme-enfold .tribe-common .tribe-common-form-control-text__input, #top .main_color .tribe-common .tribe-common-form-control-text__input,
#top.tribe-theme-enfold .tribe-common.tribe-common--breakpoint-medium .tribe-common-form-control-text__input, #top .main_color .tribe-common.tribe-common--breakpoint-medium .tribe-common-form-control-text__input,
.tribe-common .tribe-common-form-control-toggle__label,
.tribe-common .tribe-common-b1,
.tribe-common .tribe-common-b2,
.tribe-common .tribe-common-b3,
.tribe-common .tribe-common-cta,
.tribe-common .tribe-common-h1,
.tribe-common .tribe-common-h2,
.tribe-common .tribe-common-h3,
.tribe-common .tribe-common-h4,
.tribe-common .tribe-common-h5,
.tribe-common .tribe-common-h6,
.tribe-common .tribe-common-h7,
.tribe-common .tribe-common-h8,
.tribe-theme-avada #main .tribe-common .tribe-common-h1,
.tribe-theme-avada #main .tribe-common .tribe-common-h2,
.tribe-theme-avada #main .tribe-common .tribe-common-h3,
.tribe-theme-avada #main .tribe-common .tribe-common-h4,
.tribe-theme-avada #main .tribe-common .tribe-common-h5,
.tribe-theme-avada #main .tribe-common .tribe-common-h6,
.tribe-theme-avada #main .tribe-common .tribe-common-h7,
.tribe-theme-avada #main .tribe-common .tribe-common-h8,
.tribe-common a.tribe-common-c-btn-border,
.tribe-common .tribe-common-c-btn-border,
.tribe-common a.tribe-common-c-btn,
.tribe-common .tribe-common-c-btn,
.tribe-common .tribe-common-form-control-radio__label,
.tribe-common .tribe-common-form-control-checkbox__label,
.tribe-common .tribe-common-form-control-slider__label,
.tribe-common .tribe-common-form-control-text__input,
#top.tribe-theme-enfold .tribe-common .tribe-common-form-control-text__input,
.tribe-common .tribe-common-form-control-toggle__label,
.tribe-common .tribe-common-b1,
.tribe-common .tribe-common-b2,
.tribe-common .tribe-common-b3,
.tribe-common .tribe-common-cta,
.tribe-common .tribe-common-h1,
.tribe-common .tribe-common-h2,
.tribe-common .tribe-common-h3,
.tribe-common .tribe-common-h4,
.tribe-common .tribe-common-h5,
.tribe-common .tribe-common-h6,
.tribe-common .tribe-common-h7,
.tribe-common .tribe-common-h8,
.tribe-theme-avada #main .tribe-common .tribe-common-h1,
.tribe-theme-avada #main .tribe-common .tribe-common-h2,
.tribe-theme-avada #main .tribe-common .tribe-common-h3,
.tribe-theme-avada #main .tribe-common .tribe-common-h4,
.tribe-theme-avada #main .tribe-common .tribe-common-h5,
.tribe-theme-avada #main .tribe-common .tribe-common-h6,
.tribe-theme-avada #main .tribe-common .tribe-common-h7,
.tribe-theme-avada #main .tribe-common .tribe-common-h8,
.tribe-common a.tribe-common-c-btn-border,
.tribe-common .tribe-common-c-btn-border,
.tribe-common a.tribe-common-c-btn,
.tribe-common .tribe-common-c-btn,
.tribe-common .tribe-common-form-control-text__input,
#top.tribe-theme-enfold .tribe-common .tribe-common-form-control-text__input,
.tribe-events .tribe-events-calendar-list,
.tribe-events .tribe-events-calendar-list__event--description,
.tribe-events .tribe-events-c-breadcrumbs__list,
.tribe-events .datepicker .datepicker-switch,
.tribe-events .datepicker .dow,
.tribe-events .datepicker .day,
.tribe-events .datepicker .year,
.tribe-events .datepicker .month,
.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector--labels .tribe-events-c-view-selector__button-text,
.tribe-events .tribe-events-c-view-selector__list-item-text,
.tribe-events .tribe-events-calendar-list__event-date-tag-weekday,
.tribe-events .tribe-events-calendar-month__calendar-event-datetime,
.tribe-events .tribe-events-calendar-month__calendar-event-tooltip-datetime,
.tribe-events .datepicker .datepicker-switch,
.tribe-events .datepicker .dow,
.tribe-events .datepicker .day,
.tribe-events .datepicker .year,
.tribe-events .datepicker .month,
.tribe-events .tribe-events-c-small-cta__price,
.tribe-events .tribe-events-c-view-selector__list-item-text,
.tribe-events .tribe-events-calendar-list__event-date-tag-weekday,
.tribe-events .tribe-events-calendar-month__calendar-event-datetime,
.tribe-events .tribe-events-c-view-selector__button-text {
	font-family: inherit;
}

.tribe-events-pro .tribe-events-pro-photo__event-date-tag-month,
.tribe-events-pro .tribe-events-pro-week-grid__events-time-tag,
.tribe-events-pro .tribe-events-pro-week-grid__event-datetime,
.tribe-events-pro .tribe-events-pro-week-grid__event-tooltip-datetime,
.tribe-events-pro .tribe-events-pro-map__event-date-tag-month,
.tribe-events-pro .tribe-events-pro-photo__event-date-tag-weekday,
.tribe-events-pro .tribe-events-pro-week-grid__multiday-events-tag,
.tribe-events-pro .tribe-events-pro-week-grid__events-time-tag,
.tribe-events-pro .tribe-events-pro-week-grid__event-datetime,
.tribe-events-pro .tribe-events-pro-map__event-date-tag-weekday {
	font-family: inherit;
}

.tribe-events .tribe-events-c-ical__link {
	color: $purple;
	border-color: $purple;
	&:hover {
		background-color: $purple;
	}
}

.tribe-common .tribe-common-c-svgicon {
    color: $purple;
}

.tribe-events-cal-links .tribe-events-button {
	@extend .button;
}

.single-tribe_events a.tribe-events-gcal, 
.single-tribe_events a.tribe-events-gcal:hover, 
.single-tribe_events a.tribe-events-ical, 
.single-tribe_events a.tribe-events-ical:hover {
	@extend .button;
}

#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a {
    background-color: $purple-gray;
}

.tribe-events-meta-group .tribe-events-single-section-title {
	@extend .subnav__social__title;
}

.single-tribe_events #tribe-events-content .tribe-events-event-meta dt {
	@include text-caption;
}

#tribe-events-content .tribe-events-abbr {
	@include text-caption;
}

.tribe-common p {
	@include text-caption;
}

.single-tribe_events .tribe-events-event-meta {
	background-color: $purple-gray;
}


.tribe-events-calendar thead th {
    background-color: $purple-gray;
    color: #fff;
    font-weight: 700;
    padding: 1em 0;
    white-space: nowrap;
    border-left: 1px solid $purple-gray;
    border-right: 1px solid $purple-gray;
}

#tribe-bar-form {
    background: $purple-gray;
    margin: 0;
    position: relative;
    width: 100%;
}

.tribe-events-tooltip h3 {
	margin: .5rem;
}

#tribe-events h2, #tribe-events h3, #trive-events h4 {
	font-weight: normal !important;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured {
	background: $blue-dark !important;
}

.tribe-events-notices {
	background: $purple-gray !important;
	color: $dark-gray !important;
	border: none !important;
	li:before {
		display: none !important;
	}
}

.tribe-events-title-bar h1 {
	@extend .h3;
	margin-top: 0;
}

.tribe-events-page-title a {
    color: $dark-gray;
}

.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date, 
.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link {
	color: $teal;
}

.tribe-events .datepicker .day.active, 
.tribe-events .datepicker .day.active.focused, 
.tribe-events .datepicker .day.active:focus, 
.tribe-events .datepicker .day.active:hover, 
.tribe-events .datepicker .month.active, 
.tribe-events .datepicker .month.active.focused, 
.tribe-events .datepicker .month.active:focus, 
.tribe-events .datepicker .month.active:hover, 
.tribe-events .datepicker .year.active, 
.tribe-events .datepicker .year.active.focused, 
.tribe-events .datepicker .year.active:focus, 
.tribe-events .datepicker .year.active:hover {
	background: $purple;
}

.single-tribe_events a.tribe-events-gcal, 
.single-tribe_events a.tribe-events-gcal:hover, 
.single-tribe_events a.tribe-events-ical, 
.single-tribe_events a.tribe-events-ical:hover {
	color: $white;
	padding: 1.0625rem 2.25rem .9375rem;
}
