*,
::before,
::after {
  box-sizing: inherit; 
  scroll-margin-top: 6rem;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

iframe {
  border: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

button,
input,
optgroup,
select,
textarea {
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button {
  appearance: none;
  border-radius: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

[type='search'] {
  appearance: none;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em;

  & + .background {
    margin-top: 0;
  }
}

.large-headline {
  @include large-headline ;
}

h1, .h1 {
  @include h1;
}

h2, .h2 {
  @include h2;
}

h3, .h3 {
  @include h3;
}

h4, .h4 {
  @include h4;
}

h5, .h5 {
  @include h5;
}

h6, .h6 {
  @include h6;
}

[data-whatinput='mouse'] :focus,
[data-whatinput='touch'] :focus {
  outline: 0;
}

::selection {
  background: $teal;
  color: $white;
}